<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" [routerLink]="['/']">Market-Place</a>
        <button
            class="navbar-toggler"
            type="button"
            (click)="isCollapsed = !isCollapsed"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="['/']">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="['/products']">Produtos</a>
            </li>
        </ul>
    </div>
</nav>
