
<div class="phone-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3 phone-steps">
                <div>
                    <button
                        class="step text-white"
                        *ngFor="let step of steps; let index = index;"
                        [ngClass]="{'active': index === currentStep}"
                        (click)="changeCurrentStep(index)"
                    >
                        <span class="number">{{ index + 1 }}</span>
                        <span class="text">{{ step.name }}</span>
                    </button>
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-5 phone">
                <div class="phone-container">
                    <img
                        class="phone-content"
                        [src]="steps[currentStep].image"
                    />
                    <div class="phone-frame"></div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4 description">
                <div>
                    <h2 class="text-white text-center">{{ steps[currentStep].title }}</h2>
                    <h5 class="text-white text-center mt-5">{{ steps[currentStep].text }}</h5>
                    <div class="buttons mt-5" *ngIf="steps[currentStep].hasButton">
                        <a [routerLink]="[steps[currentStep].buttonRouting]" class="btn btn-light">
                            {{ steps[currentStep].buttonText }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
