.page-root {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    header.add-product-header {
        height: 300px;
        background: var(--theme-color);
        color: var(--theme-foreground);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    main.container {
        flex: 1;
        margin-top: -70px;
        background: var(--papper-color);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        padding: 40px;
        border-radius: 20px 20px 0 0;

        .submit-row {
            display: flex;
            justify-content: flex-end;
        }

        table {
            width: 100%;
        }
    }
}
