<header class="home-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3"></div>
            <div class="col-sm-12 col-lg-5">
                <div class="text-block">
                    <h1 class="text-center text-white">Market-Place</h1>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4"></div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="container features-block">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <span class="icon mb-4">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </span>

                <h4 class="text-center">Simplicidade</h4>
                <h6 class="text-center font-weight-light">Fácil e simples de cadastrar seus produtos e começar a vender.</h6>
                <div class="text-center mt-3">
                    <button class="btn btn-primary">Começar Agora</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <span class="icon mb-4">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                </span>

                <h4 class="text-center">Rápido</h4>
                <h6 class="text-center font-weight-light">Com várias <strong>parcerias</strong>, vender com a gente é muito mais rápido.</h6>
                <div class="text-center mt-3">
                    <button class="btn btn-primary">Nossos Parceiros</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <span class="icon mb-4">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>

                <h4 class="text-center">Confiável</h4>
                <h6 class="text-center font-weight-light">Existem diversas ferramentas de segurança que garantem segurança nas vendas.</h6>
                <div class="text-center mt-3">
                    <button class="btn btn-primary">Nossa Segurança</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-market-place-details></app-market-place-details>
